/*
* Sticky footer
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*
* Body
*/
body {
    font-family: 'Comfortaa', cursive;
}
img {
    max-width: 100%;
}

/*
* Header
*/
header {
    z-index: 9999;
}
header .brand-logo {
    padding: 0 20px;
}
header .brand-logo img {
    width: 50px;
    vertical-align: middle;
}

/*
* Footer
*/
footer {
    padding: 10px 0;
}

/*
* Navigation
*/
.side-nav {
    top: 64px;
}
.sidebar-title {
    font-size: 8pt;
}
.side-nav a {
    font-size: 12px;
    white-space: nowrap;
}

/*
* Logs
*/
pre {
    font-size: 11px;
    margin: 0;
}
pre .lh-badge {
    border-radius: 3px;
    background-color: #0d47a1;
    clear: both;
    color: #ffffff;
    font-weight: bold;
    padding: 1px 5px;
}

/*
* Materialize hacks
*/
.no-margin {
    margin: 0;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #0d47a1;
}
